*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 80vw;
  height: 90vh;
  margin: 0 auto;
  background-color: rgb(226, 104, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.watch-container {
  display: flex;
}

.watch-box {
  margin: 1.2em;
  font-size: 2.5em;
  padding: 1.2em;
  font-weight: bold;
  border: 2px solid red;
  text-align: center;
}

.button {
  background-color: rgb(45, 45, 231);
  padding: 0.8em 1.2em;
  border: 0;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 2em;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.button:hover {
  transform: translateY(-5px);
  background-color: rgb(85, 82, 231);
}
